$light-color: #F6F6F6
$white-color:#FFF
$black-color: #000000
$dark-color: #808080
$bright-color: #54D4A0
$bright-color: #E9FFF6

$raleway-reg: 'Raleway-Regular' //400
$raleway-m: 'Raleway-Regular' //500
$raleway-sb: 'Raleway-Regular' //600
$raleway-b: 'Raleway-Regular' //700
$raleway-eb: 'Raleway-Regular' //800
$raleway-black: 'Raleway-Regular' //900





