.main
    padding-bottom: 87px
    @include xs
        padding-bottom: 60px
.form
    display: grid
    grid-template-columns: repeat(2, 1fr)
    @include xs
        grid-template-columns: auto
        grid-template-rows: repeat(2,auto)        
    &__left
        display: flex
        flex-direction: column
        align-items: center
        padding-right: 104px
        padding-bottom: 20px
        position: relative
        @include sm
            padding-right: 50px
        @include xs
          padding-right: 0
          padding-bottom: 55px    
        &::after
            content: ""
            position: absolute
            top:0
            right: 0
            height: 100%
            width: 1px                         
            background: repeating-linear-gradient(transparent, transparent 2px, $dark-color 2px, $dark-color 4px)
            // Width of the dashes
            // Width of the dashes
            // Width of both dashes and gaps
            border: none
            @include xs
                top: 100%  
                width: 100%
                height: 1px
                background: repeating-linear-gradient(to right, transparent, transparent 2px, $dark-color 2px, $dark-color 4px)
    &__slider-wrap
        padding-bottom: 86px
        display: flex
        flex-direction: column
        width: 100%
        gap:88px
        @include xs
            gap: 76px
            padding-bottom: 84px      
    &__date-container
        display: flex
        flex-direction: column
        padding-bottom: 67px
        width: 100%
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 30px
        @include xs
            padding-top: 35px
    &__text-percent
        font-family: $raleway-sb
        font-size: 29px                
    &__date-text
        font-family: $raleway-sb
        font-size: 17px
        text-transform: capitalize
        color:  $bright-color
        text-align: right
        padding-bottom: 12px
        padding-right: 50px
        @include xs
            padding-right: 0
    &__radio-container    
        display: flex
        width: 100%
        gap: 178px
        @include md
            gap: 0px
            justify-content: space-between
        @include sm
            flex-direction: column
            gap:24px                  
    &__right
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding-left: 50px
        @include xs
          padding-left: 0
          padding-top: 50px
          justify-content: flex-start          
    &__title
        font-family: $raleway-eb
        font-size: 43px
        text-transform: capitalize
        padding-bottom: 54px
        text-align: center
        @include sm
            font-size: 30px
        @include xs
          padding-bottom: 13px
          font-size: 34px                    
    &__sum-total
        display: block
        font-family: $raleway-black
        font-size: 63px
        text-transform: capitalize
        color:  $bright-color
        @include md
            font-size: 50px
        @include xs
            font-size: 43px
            font-family: $raleway-b
            padding-bottom: 9px    
    &__caption        
        font-family: $raleway-sb
        font-size: 17px
        text-transform: capitalize
        padding-bottom: 112px
        @include md
            padding-bottom: 80px
        @include xs
          padding-bottom: 55px    
    &__info-container
        display: flex
        justify-content: space-between
        gap: 55px
        padding-bottom: 56px
        @include md
          flex-direction: column
          gap:23px
    &__info
        width: 288px
        background: $light-color
        display: flex
        flex-direction: column
        text-align: center
        padding-top: 25px
        padding-bottom: 11px
        @include md            
            width: 100%
            padding-top: 25px
            padding-left: 25px
            padding-right: 25px
            padding-bottom: 11px
        @include xs
            width: 288px            
        &_type_accent
            background: $bright-color-2
    &__info-text
        font-family: $raleway-sb
        font-size: 17px
        letter-spacing: 6px
        text-transform: uppercase
        padding-bottom: 5px
    &__sum                
        font-family: $raleway-eb
        font-size: 43px
        @include xs
            font-size: 35px
    &__btn
        cursor: pointer        
        border: 1px solid $bright-color
        width: 100%
        padding-top: 17px
        padding-bottom: 17px
        font-family: $raleway-sb
        font-size: 19px
        letter-spacing: 5px
        text-transform: uppercase
        background: transparent        
        &:hover
            background: $bright-color-2
            transition: background 0.6s ease
                    
.line
    border: 1px solid $black-color
.radio-btn
    display: flex
    align-items: center
    gap:8px
    &__input
        appearance: none
        width: 24px
        height: 24px
        border: 1px solid $bright-color
        border-radius: 50%
        outline: none
        transition: border-width 0.2s ease
        &:checked
            border-width: 6px
    &__label    
        font-family: $raleway-sb
        font-size: 17px        
        text-transform: capitalize
.slider
    display: flex
    flex-direction: column
    gap:14px
    position: relative    
    &__title
        font-family: $raleway-b
        font-size: 14px        
        text-transform: capitalize
        color: $dark-color                   
    &__bar
        -webkit-appearance: none
        appearance: none
        width: 100%
        height: 8px
        border-radius: 39px 
        background-color: $light-color-2
        margin-top: 9px
        margin-bottom: 9px        
        &::-webkit-slider-thumb 
            -webkit-appearance: none
            appearance: none
            width: 26px
            height: 26px
            background-color: $bright-color
            border: none
            border-radius: 50%
            cursor: pointer
            position: relative
            z-index: 2 
        &::-moz-range-thumb    
            appearance: none
            width: 26px
            height: 26px
            background-color: $bright-color
            border: none
            border-radius: 50%
            cursor: pointer
            position: relative
            z-index: 2  
        &::-ms-thumb
            appearance: none
            width: 26px
            height: 26px
            background-color: $bright-color
            border: none
            border-radius: 50% 
            cursor: pointer
            position: relative
            z-index: 2 
        &::thumb  
            appearance: none
            width: 26px
            height: 26px
            background-color: $bright-color
            border: none
            border-radius: 50%
            cursor: pointer
            position: relative
            z-index: 2
    &__progress
        width: 50%
        height: 8px
        border-radius: 39px 
        background:  $bright-color
        position: absolute
        top: 43px
        left: 0
        transform: translateY(-50%)
        pointer-events: none
    &__caption-wrap    
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
    &__caption-text
        font-family: $raleway-reg
        font-size: 14px        
        text-transform: capitalize
        color: $dark-color
    &__value-container
        text-align: center       
    &__value-text
        font-family: $raleway-b
        font-size: 43px
        text-transform: capitalize
        @include sm
            font-size: 35px
        @include xs
            font-size: 43px    

.flatpickr-container
    display: grid
    grid-template-columns: 135px 30px    
    border: 1px solid $dark-color
    border-radius: 3px
    cursor: pointer 
    align-items: center
    padding-right: 8px       
    &__input-date        
        font-family: $raleway-sb
        font-size: 15px        
        color:  $dark-color
        padding-top: 13px
        padding-bottom: 13px
        padding-left: 20px               
        outline: none
        border: none
    // &::-webkit-calendar-picker-indicator
    //     display: none !important           
    &__btn        
        display: block
        width: 30px
        height: 30px        
    &__icon-calendar
        display: block        
        background-image: url(../icons/calendar.svg)
        background-repeat: no-repeat
        background-position: right center
        width: 100%
        height: 100%

